<div class="wrapper wrapper-content">
  <div class="row">
    <div *ngFor="let quardrant of incubatorRequirement.incubatorQuardrants" class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span (click)="DrillOntoQuardrant(quardrant)" class="btn btn-success btn-xs pull-right">Drill down</span>
          <h5>{{quardrant.name}}</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{quardrant.scoreCard.value}}</h1>
          <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
          <small>Improvement</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Orders</h5>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">Today</button>
              <button type="button" class="btn btn-xs btn-white">Monthly</button>
              <button type="button" class="btn btn-xs btn-white">Annual</button>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="flot-chart">
                <div flotChart class="flot-chart-content" [options]="flotOptions" [dataset]="flotDataset"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Review comments</h5>
          <iboxtools></iboxtools>
        </div>
        <div class="ibox-content">
          <div class="feed-activity-list">
            <div *ngFor ="let comment of workItemIncubatorComments" class="feed-element">
              <div>
                <strong>{{comment.shortDescription}}</strong>
                <div>{{comment.commentText}}</div>
                <small class="text-muted">{{comment.createdDateTime}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Client Timeline</h5>
              <iboxtools></iboxtools>
            </div>
            <div class="ibox-content">
              <table class="table table-hover no-margins">
                <thead>
                <tr>
                  <th>Status</th>
                  <th>Date</th>
                  <th>User</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let timeline of workItemTimeLine">
                  <td><span class="label label-primary">{{timeline.workItemStage}}</span> </td>
                  <td><i class="fa fa-clock-o"></i> {{timeline.createDate}}</td>
                  <td>{{timeline.createdUser}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
