    <div class="passwordBox animated fadeInDown">
      <div *ngIf="errorMessage" class="alert alert-danger">
         {{errorMessage}}
      </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Forgot password</h2>
                    <p>
                        Enter your email address and your password will be reset and emailed to you.
                    </p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" #forgotPassword="ngForm">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email address" #email="ngModel" [(ngModel)]="resetPassword.email">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New Password" #newPassword="ngModel"  [(ngModel)]="resetPassword.newPassword">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" #confirmPassword="ngModel" [(ngModel)]="resetPassword.confirmPassword">
                                </div>
                                <button (click)="SendPassword()" type="submit" class="btn btn-primary block full-width m-b">Send new password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 text-right">
               <small>© 2014-2015</small>
            </div>
        </div>
    </div>
